@model IEnumerable<Entities.StockInDTO>

@{
    ViewBag.Title = "Stock";
    ViewBag.SubTitle = "Complete Stock In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StockInId  }) |
            @Html.ActionLink("Details", "Details", new { id = item.StockInId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StockInId })
        </td>
    </tr>
}

</table>
