@{
    ViewBag.Title = "Home";
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Entities.ProductStockDTO> products = ViewBag.Products;
    List<Entities.StockOutDTO> earning = ViewBag.Earning;
    earning = earning.Where(c => c.Date.Year == DateTime.Now.Year).ToList();
    double totalQuantity = 0;
    foreach (var item in products)
    {
        totalQuantity += item.Quantity;
    }
    double productSoldCount = ViewBag.TotalProductSold;
    List<int> productSoldList = ViewBag.ProductSoldlst;
}

<div class="row">

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.NewOrder</div>
                        <div>New Orders!</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Order")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>Customers</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Create", "Customer")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>Products</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Product")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.CustomerCount</div>
                        <div>Total Customers!</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Customer")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div> 
  

<div class="row">
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Available product in our Stock</h3>
            </div>
            <div class="panel-body">
                <div id="area-chart"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Earning in this year</h3>
            </div>
            <div class="panel-body">
                <div id="earningChart"></div>
            </div>
        </div>
    </div>

</div>





@section Scripts{
    
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    
     <script type="text/javascript">
         $(function () {
             var myChart = Highcharts.chart('area-chart', {
                 chart: {
                     plotBackgroundColor: null,
                     plotBorderWidth: null,
                     plotShadow: false,
                     type: 'pie'
                 },
                 title: {
                     text: 'Currently avaible products in our stock'
                 },
                 tooltip: {
                     pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                 },
                 plotOptions: {
                     pie: {
                         allowPointSelect: true,
                         cursor: 'pointer',
                         dataLabels: {
                             enabled: true,
                             format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                             style: {
                                 color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                             }
                         }
                     }
                 },
                 series: [{
                     name: 'Products',
                     colorByPoint: true,
                     data: [
                     @for (int i = 0; i < products.Count; i++)
                     {
                         if(products.Count - 1 != i)
                        {
                            <text>
                            ['@products[i].Name',  @(products[i].Quantity/ totalQuantity )],
                            </text>
                        }
                        else
                        {
                            <text>
                            ['@products[i].Name', @(products[i].Quantity/ totalQuantity )]
                            </text>
                        }
                     }

                     ]
                 }]
             });
         });



         $(function () {
             var myChart = Highcharts.chart('earningChart', {
                 title: {
                     text: 'Earning in year @DateTime.Now.Year'
                 },

                 xAxis: {
                     categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                 },

                 series: [{
                     type: 'column',
                     colorByPoint: true,
                     data: [
                         @for (var i = 1; i <= 12; i++) {
                            if(i != 12)
                            {
                                <text>
                                    @earning.Where(x => x.Date.Month == i).Sum(c => c.Price),  
                                </text>
                             }
                             else
                             {
                                 <text>
                                    @earning.Where(x => x.Date.Month == i).Sum(c => c.Price)
                                </text>
                             }

                         }

                     ],
                     showInLegend: false
                 }]

             });
         });

        



</script>    
    
}